#logo{
    margin-left:50px;
    margin-top: 30px;
}

ul li{
    display: inline-block;
    padding-left:10px;
    border: left 50px; ;
    margin-left: 50px;
    font-size: 30px;
}
ul li a{
    color:green ;
}

a:hover{
    color: black;
}

#about{
    margin-left: 500px;
}

header{
    background-color: antiquewhite;
}

#login{
    margin-left: 200px;
    color:whitesmoke;
    background-color: black;
    width: 75px;
    height: 75px;
    font-size: 20px;
}